.feature-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 4em 8em;
    gap: 1.8em;

    @include responsive(tab-land) {
        padding: 3em;
    }
    @include responsive(tab-port) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include responsive(phone) {
        grid-template-columns: 1fr;
        padding: 3em 1em;
    }
    
    .card {
        height: 40vh;
        position: relative;
        border-radius: 3px;
        overflow: hidden;

        @include responsive(tab-port) {
           height: 30vh; 
        }

        @include responsive(phone) {
            height: 35vh;
        }
        
        img {
            height: 100%;
            width: 100%;
        }

        &:hover .overlay {
            transform: translateY(0);
            transition: all 0.3s ease-in;
            justify-content: center;
            padding: 1.3em 4em;
            gap: 1em;
        }

        .overlay {
            position: absolute;
            top: 0;
            height: 100%;
            padding: 1.5em 4em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: $blue-bg;
            gap: 1.5em;
            transform: translateY(60%);
            transition: all 0.3s ease-in;

            @include responsive(tab-port) {
                transform: translateY(70%);
            }
            @include responsive(phone) {
                transform: translateY(65%);
            }

            span {
                font-weight: 600;
                color: white;
            }
            p {
                color: #f1f1f1;
                font-size: .8em;
            }

            .more {
                text-decoration: none;
                color: black;
            }
        }
    }
}