footer {
    background: black;
    
    .footer {
        
        .card-footer {
            grid-template-columns: repeat(4, 1fr);
            padding: 3em 3em 2em 3em;
            display: grid;
            gap: 2em;

            @include responsive(tab-land) {
                grid-template-columns: repeat(3, 1fr);
            }

            @include responsive(tab-port) {
                grid-template-columns: repeat(2, 1fr);
            }
            @include responsive(phone) {
                grid-template-columns: 1fr;
                gap: 3em;
                padding: 3em 1em;
            }

            .footer-element {

                .image {
                    width: 85%;
                    height: 15vh;
        
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .slogan {
                    text-align: center;
                    color: white;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-top: 2.5em;
                }
                .link {
                    display: flex;
                    flex-direction: column;
                    gap: .8em;
                    margin-top: 3em;

                    .icon {
                        color: $blue-bg;
                    }

                    .lien {
                        text-decoration: none;
                        display: flex;
                        gap: .3em;
                        color: white;
                        align-items: center;

                        &:hover {
                            color: $blue-bg;
                        }
                    }
                }
                .reseaux {
                    margin-top: 3em;
                    display: flex;
                    gap: 1em;
        
                    .icon {
                        @include flex-center;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        color: white;
                        background: rgba($color: #DCDCDC, $alpha: .1);
                    }
                    .icon:hover:first-child {
                        background: $blue-bg;
                    }
                    .icon:hover:nth-child(2) {
                        background: blue;
                    }
                    .icon:hover:nth-child(3) {
                        background: black;
                    }
                    .icon:hover:last-child {
                        background: red;
                    }
                    
                }
                span {
                    font-size: 1.4em;
                    color: white;
                    display: flex;
                    flex-direction: column;
                }
                .element {
                    margin-top: 3em;

                    @include responsive(phone) {
                        margin-top: 1.5em;
                    }
        
                    .card-el {
                        display: flex;
                        gap: 1em;
                        padding: .5em 0;
        
                        .card-icon {
                            height: 100%;
                            @include flex-center;
                            color: $blue-bg
                        }
                        p {
                            color: gray;
                        }
                    }
                }
        
                ul {
                    list-style: none;    
                }
            }
        }

        .en-bas {
            background: $blue-foncer;
            color: white;
            text-align: center;
            padding: .6em;
        }
    }
}