.home-page {
    background: #f1f1f1;

    .texte {
        padding: 1em .5em;
        @include flex-center;
        background: black;

        p {
            text-transform: uppercase;
            font-size: 1.5em;
            text-align: center;
            color: white;

            @include responsive(phone) {
                font-size: 1.1em;
            }
        }


    }

    .site-wapecc {
        background-image: url("/assets/brochure.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        min-height: 90vh;

        @include responsive(tab-port) {
            min-height: 60vh;
        }

        .overlay {
            background: rgba($color: #000000, $alpha: .2);
            min-height: 90vh;
            width: 100%;
            padding: 3em 1em;
            @include flex-center;

            @include responsive(tab-port) {
                min-height: 60vh;
            }

            .annonce {
                background: white;
                width: 60%;
                display: flex;
                flex-direction: column;
                padding: 2em;
                border-radius: 10px;
                gap: 1.5em;

                @include responsive(tab-port) {
                    width: 85%;
                }
                @include responsive(phone) {
                    width: 100%;
                }

                .head {
                    display: flex;
                    align-items: center;
                    gap: 2em;

                    @include responsive(phone) {
                        flex-direction: column;
                    }

                    .logo {
                        width: 40%;

                        @include responsive(phone) {
                            width: 70%;
                        }
                        
                        img {
                            width: 100%;
                        }
                    }

                    p {
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 2.2em;
                        color: $brown;

                        @include responsive(phone) {
                            font-size: 1.5em;
                            text-align: center;
                        }
                    }
                }
                .action-button {
                    display: flex;
                    justify-content: end;

                    .site {
                        text-decoration: none;
                        padding: .8em 1.5em;
                        border-radius: 30px;
                        background: $jaune;
                        color: white;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .business-connection {
        min-height: 45vh;
        background-image: url("/assets/reseau.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .overlay {
            min-height: 45vh;
            background: rgba($color: #000000, $alpha: .8);
            color: white;
            @include flex-center;
            padding: 1em;

            h2 {
                width: 65%;
                font-size: 3em;
                text-align: center;

                @include responsive(tab-port) {
                    width: 100%;
                }
                @include responsive(phone) {
                    font-size: 1.9em;
                }
            }
        }
    }

    // localisation styles
    .localisation {
        display: flex;
        padding: 5em;
        gap: 1em;

        @include responsive(tab-land) {
            padding: 5em 2em;
        }
        @include responsive(tab-port) {
            flex-direction: column;
            padding: 0;
        }

        .infos {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2em 1em;

            @include responsive(tab-port) {
                padding: 3em 2em;
            }
            @include responsive(phone) {
                grid-template-columns: 1fr;
                padding: 3em 1em;
            }

            .card {
                padding: 1.5em;
                border-radius: 5px;
                background: $blue-foncer;

                .head {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        color: $jaune;
                        font-size: 1.3em;
                        font-weight: 600;
                    }

                    .flag {
                        width: 20%;
                        height: 5vh;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                }
                .elements {
                    margin-top: 2em;
                    color: white;

                    .col {
                        display: flex;
                        gap: .5em;
                        padding: .4em 0;

                        .icon {
                            color: $gris;
                        } 
                    }
                }
            }
        }

        .map-container {
            width: 50%;
            border-radius: 10px;
            overflow: hidden;
            
            @include responsive(tab-port) {
                height: 400px;
                width: 100%;
                border-radius: 0px;
            }
          }
    }

    // bringing business styles
    .bringing-business {
        background-image: url("/assets/partner.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 27vh;
        color: white;
        font-size: 1.5em;

        @include responsive(phone) {
            font-size: 1.1em;
        }
        
        .overlay {
            @include flex-center;
            background: rgba($color: #002e5b, $alpha: .7);
            width: 100%;
            min-height: 27vh;
            text-align: center;
            padding: 1em;

            // @include responsive(phone) {
            //     font-size: 1.5em;
            // }
        }
    }

    // csr styles
    .corporate-social {
        display: grid;
        grid-template-columns: 60% 40%;
        background: black;
        margin-top: 2em;

        @include responsive(tab-port) {
            grid-template-columns: 1fr;
        }

        .text {
            padding: 1em 4em;

            @include responsive(tab-land) {
                padding: 1em 3em;
            }
            @include responsive(tab-port) {
                padding: 3em 1em;
            }

            h1 {
                color: white;
                font-size: 2.3em;
                margin-bottom: .5em;

                @include responsive(tab-port) {
                    font-size: 2em;
                }
                @include responsive(phone) {
                    font-size: 1.5em;
                }
            }
            p {
                color: $gris;
            }
        }
        .card-image {
            height: 30vh;
            overflow: hidden;

            @include responsive(tab-land) {
                height: auto;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


// banner model
.banner-model {
    background: $blue-foncer;
    margin: 3.5em 3em;
    padding: 3em 4em;
    border-radius: 15px;

    @include responsive(tab-port){
        margin: 3em 2em;
    }

    @include responsive(phone) {
        margin: 3em 1em;
        padding: 2em;
    }

    span {
        color: $gris;
        font-weight: 600;
        font-size: 1.5em;
    }
    p {
        margin-top: .8em;
        width: 60%;
        font-size: 2.3em;
        color: white;

        @include responsive(tab-land){
            width: 80%;
        }

        @include responsive(tab-port){
            width: 100%;
            font-size: 1.8em
        }

        @include responsive(phone){
            font-size: 1.3em;
        }
    }
}



// error styles
.error-page {

    .content-error {
        @include flex-center;
        flex-direction: column;
        margin-bottom: 4em;
        gap: 1em;
        padding: 0 1em;

        h1 {
            font-size: 10rem;
            
            span {
                color: $blue-bg;
            }
        }
        .no-found {
            font-size: 1.2em;
            font-weight: 600;
        }
        .info {
            text-align: center;
        }

        .back {
            border: 1px solid;
            padding: .6em 2em;
            border-radius: 4px;
            color: $blue-bg;
            text-decoration: none;
            margin-top: 1.5em;
        }
    }
}