footer {
    background: $blue-foncer;
    
    .footer {
        
        .card-footer {
            grid-template-columns: repeat(4, 1fr);
            padding: 3em 3em 2em 3em;
            display: grid;
            gap: 2em;

            @include responsive(tab-land) {
                grid-template-columns: repeat(3, 1fr);
            }

            @include responsive(tab-port) {
                grid-template-columns: repeat(2, 1fr);
            }
            @include responsive(phone) {
                grid-template-columns: 1fr;
                gap: 3em;
                padding: 3em 1em;
            }

            .footer-element {

                .image {
                    width: 70%;
                    height: 15vh;
        
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .reseaux {
                    margin-top: 3em;
                    display: flex;
                    gap: 1em;
        
                    .icon {
                        @include flex-center;
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        color: white;
                    }
                    .icon:first-child {
                        background: $blue-bg;
                    }
                    .icon:nth-child(2) {
                        background: black;
                    }
                    .icon:nth-child(3) {
                        background: blue;
                    }
                    .icon:last-child {
                        background: red;
                    }
                    
                }
                span {
                    font-size: 1.4em;
                    color: white;
                    display: flex;
                    flex-direction: column;

                    &::after {
                        content: "";
                        background: #f1f1f1;
                        height: .1vh;
                    }
                }
                .element {
                    margin-top: 3em;

                    @include responsive(phone) {
                        margin-top: 1.5em;
                    }
        
                    .card-el {
                        display: flex;
                        gap: 1em;
                        padding: .5em 0;
        
                        .card-icon {
                            height: 100%;
                            @include flex-center;
                            color: $blue-bg
                        }
        
                        .lien {
                            color: $gris;

                            &:hover {
                                color: white;
                            }
                        }
                        p {
                            color: #f1f1F1;
                        }
                    }
                }
        
                ul {
                    list-style: none;
        
                    .footer-nav {
                        text-decoration: none;
                        color: $gris;
                    }
        
                    li {
                        padding: .5em 0;
                    }
                    .langue {
                        height: 8vh;
                        width: 18%;
                        cursor: pointer;
        
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }

        .en-bas {
            background: $blue-bg;
            color: white;
            text-align: center;
            padding: .6em;
        }
    }
}