.mission-container {
    padding: 3em 5em 12em 5em;
    background: white;
    position: relative;

    @include responsive(tab-port) {
        padding: 3em 0;
    }

    @include responsive(phone) {
        padding: 2em 0;
    }

    .mission-illustration {
        width: 50%;
        height: 60vh;
        margin-top: 2em;

        @include responsive(tab-land) {
            width: 80%;
            height: 30vh;
        }

        @include responsive(tab-port) {
            width: 100%;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }

    h2 {
        text-align: center;
        font-size: 2em;
    }

    .mission {
        background: #f1f1F1;
        width: 45%;
        padding: 2em 3em;
        border-radius: 4px;
        position: absolute;
        top: 18em;
        left: 38%;

        @include responsive(tab-land) {
            width: 65%;
            left: 0;
        }
        @include responsive(tab-port) {
            width: 100%;
            position: relative;
            top: 0%;
            padding: 2em;
            // margin-top: 2em;
        }

        span {
            color: $blue-bg;
            font-weight: 600;
            font-size: 2em;
        }
    }
}