.header {
    nav {

        .head {
            background: $blue-foncer;
            display: flex;
            align-items: center;
            padding: .8em 5em;
            justify-content: space-between;

            @include responsive(tab-port) {
                padding: .6em 1em;
            }
            @include responsive(phone) {
                flex-direction: column;
                align-items: normal;
                gap: 1em;
            }

            .address {
                display: flex;
                align-items: center;
                gap: 2em;

                @include responsive(tab-port) {
                    gap: .5em;
                }
                @include responsive(phone) {
                    flex-wrap: wrap;
                }

                .card {
                    display: flex;
                    align-items: center;
                    gap: .4em;
                    color: white;

                    .card-icon {
                        @include flex-center;
                    }
                }
            }

            .reseaux-sociaux {
                display: flex;
                align-items: center;
                gap: 1.5em;

                @include responsive(tab-port) {
                    gap: .8em;
                }

                @include responsive(phone) {
                    gap: 1em;
                    margin-top: .5em;
                }

                .icon {
                    background: white;
                    @include flex-center;
                    padding: .5em;
                    border-radius: 50%;
                    
                    &:first-child {
                        color: blue;
                    }
                    &:nth-child(2) {
                        color: $blue-bg;
                    }
                    &:nth-child(3) {
                        color: black;
                    }
                    &:last-child {
                        color: red;
                    }
                }

            }
        }
    
        .navbar {
            display: flex;
            justify-content: space-between;
            padding: .8em 5em;
            background: white;
            
            @include responsive(tab-port) {
                padding: .8em 3em; 
                align-items: center;
            }
            @include responsive(phone) {
                padding: .8em 1em;
            }
        
            .logo {
                width: 30%;

                @include responsive(tab-port) {
                    width: 60%;
                }

                @include responsive(phone) {
                    width: 100%;
                }
        
                img {
                    width: 55%;
                    height: 100%;
                    object-fit: contain;
                    cursor: pointer;

                    @include responsive(phone) {
                        width: 60%;
                    }
                }
            }

            .burger-card {
                display: none;
                
                @include responsive(tab-port) {
                    display: block;
                    position: relative;
                    cursor: pointer;
                    padding: .3em;
                    border-radius: 3px;
                    background: $blue-foncer;
                    
                    @include responsive(tab-port) {
                        @include flex-center;
                    }
                    .burger {
                        color: white;
                    }
                }

                .modal {
                    position: absolute;
                    background: white;
                    top: 3.5em;
                    right: 0;
                    opacity: 0;
                    transform: translateY(3em);
                    transition: all .3s ease-in-out;
                    padding: 1.5em;
                    border-radius: 4px;
    
                    &.open {
                        opacity: 1;
                        transform: translateY(0);
                        transition: transform .3s ease-in-out;
                    }
    
                    .nav-mobile {
                        display: flex;
                        align-items: center;
                        flex-direction: column;

                        li {
                            list-style: none;
                            cursor: pointer;
                            font-size: 1em;
                            font-weight: 600;
                            padding: .6em 0;
                            text-align: center;
                            width: max-content;
    
                            .active {
                                color: $jaune;
                            }

                            span:hover {
                                color: $jaune
                            }
                        }
                        .image-li {
                            width: 20%;
                            height: 5vh;
                            cursor: pointer;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .contact {
                            text-decoration: none;
                            color: black;
                    
                            &:hover {
                                color: $jaune;
                            }
                            &.active {
                                color: $jaune
                            }
                        }
    
                        .accordeons {
                            display: grid; 
                            grid-template-rows: 0fr;
                            transition: .5s grid-template-rows ease;
    
                            & > ul {
                                overflow: hidden;
                            }
    
                            li {
                                width: 100%;
                                font-weight: normal;
                            }
                            .lien {
                                text-decoration: none;
                                color: black;
                                width: fit-content;
                            }
    
                            &.open {
                                grid-template-rows: 1fr;
                            }
                        }
                    }
                }

            }
        
            .nav-destkop {
                display: flex;
                list-style: none;
                flex-wrap: wrap;
                position: relative;
                gap: .5em;
                width: 50%;
                justify-content: space-between;
                align-items: center;

                @include responsive(tab-land) {
                    width: 65%;
                }
                @include responsive(tab-port) {
                    display: none;
                }

                .contact {
                    text-decoration: none;
                    color: black;

                    &.active {
                        color: $jaune;
                    }
                }
                .active {
                    color: $jaune
                }
        
                li {
                    width: max-content;
                    font-weight: 600;
                    cursor: pointer;
                    font-size: 1.1em;
                    padding: 1em 0;

                    &:hover .submenu {
                        height: auto;
                        opacity: 1;
                        transition: opacity 0.3s ease-in-out;
                    }
                }
        
                .language {
                    width: 3%;
                }
        
                img {
                    width: 100%;
                    cursor: pointer;
                }

                .submenu {
                    position: absolute;
                    width: max-content;
                    background: white;
                    display: flex;
                    flex-direction: column;
                    align-items: normal;
                    top: 3.8em;
                    gap: 0;
                    height: 0;
                    opacity: 0;
                    overflow: hidden;
                    transition: height 0.3s ease-in-out;

                    li {
                        width: 100%;
                        font-size: .8em;

                        &:hover {
                            background: $blue-foncer;
                        }
                        &:hover .lien {
                            color: white;
                        }
                        
                        .lien {
                            text-decoration: none;
                            color: black;
                            padding: 1em 1.5em;
                        }
                    }

                    .sub-active {
                        background: $blue-foncer;
                        
                        .lien {
                            color: white;
                        }
                    }

                }
            }
        }
    }
}
.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 1.3em;
    color: white;
    font-weight: bold;
    @include flex-center;
}
.swiper-button-prev {
    background: $blue-foncer;
    left: 0;
    @include flex-center;
}

.swiper-button-next {
    background: $blue-foncer;
    right: 0;
    @include flex-center;
}